body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #777;
	background: #777;
	width: 960px;
	font-size: 18px;
	margin: auto;
}

header, nav, section, aside, footer {
	background-color: #ebebeb;
	color: #777;
	text-align: center;
}

article {
	background-color: #777;
	color: #ebebeb;
	width: 435px;
	height: 160px;
	margin-left: 20px;
	padding-top: 0px;
	margin-top: 10px;
}

h1, p {
	background-color: #ebebeb;
	color: #777;
	width: 395px;
	margin-left: 20px;
	height: 34px;
	padding-top: 6px;
}

section {
	width: 475px;
	float: left;
	margin-bottom: 10px;
	height: 210px;
	padding-top: 40px;
	margin-right: 10px;
}

aside {
	margin-left: 10px;
	height: 150px;
	float: right;
	width: 465px;
	padding-top: 100px
}

footer {
	clear: both;
	width: 960px;
	height: 70px;
	margin-bottom: 10px;
	padding-top: 40px;
}

header, nav {
	width: 960px;
	height: 70px;
	margin-bottom: 10px;
	padding-top: 40px;
}







